# < GENERAL
NODE_ENV=development
WATCHPACK_POLLING=true # Caso esteja rodando as aplicações em um docker no sistema windows será necessário ter essa variável de ambiente para estar ativo o hot-reload da aplicação, caso contrário a aplicação não sera reiniciada após uma atualização de arquivo!
# GENERAL />

# < APPLICATION TEMPLATE
APPLICATION_TEMPLATE__PORT=80
APPLICATION_TEMPLATE__VERSION=localhost
APPLICATION_TEMPLATE__DB_HOST=db.mongo.application-template
APPLICATION_TEMPLATE__DB_PORT=27017
APPLICATION_TEMPLATE__DB_NAME=application-template
APPLICATION_TEMPLATE__DB_USER=admin
APPLICATION_TEMPLATE__DB_PASS=admin
APPLICATION_TEMPLATE__DB_TYPE=''
APPLICATION_TEMPLATE__CRYPTOGRAPH_PASSWORD_SALTS=12
# APPLICATION TEMPLATE />
